body, p, h1, h2, h3 {
    color: #000;
    text-shadow: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

section, article, .main, #wrapper, aside, aside section, header, footer, #myBtn {
    box-shadow: none;
    border: none;
    filter: none;
    text-shadow: none;
}

body {
    background-image: none;
}

nav, header, footer, iframe {
    display: none;
}

img, img.centered, img.alignright, img.alignleft {
    max-width: 150px;
    height: auto;
}

#myBtn, button {
    display: none;
    border: none;
    color: #00000000;
    text-shadow: none;
    
}